/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6EBB00;
  --ifm-color-primary-dark: #5d9f00;
  --ifm-color-primary-darker: #447400;
  --ifm-color-primary-darkest: #2e4f00;
  --ifm-color-primary-light: #87da14;
  --ifm-color-primary-lighter: #a6ec43;
  --ifm-color-primary-lightest: #caff81;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: #494D52;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
